<a href="https://colab.research.google.com/github/akashsinghsharma/Time-Series/blob/main/Time_Series_Analysis_and_Forecasting_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 2: Time Series

In [2]:
import pandas_datareader as pdr
import pandas as pd
import numpy as np

In [13]:
import numpy as np
import pandas as pd

import yfinance as yf
yf.pdr_override() # <== that's all it takes :-) #The pandas data reader is creating error is I am using this from stackoverflow.
from pandas_datareader import data as pdr

PG = pdr.get_data_yahoo('PG', start='1995-1-1')

[*********************100%***********************]  1 of 1 completed

In [14]:
PG

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1995-01-03,15.468750,15.625000,15.437500,15.593750,7.674548,3318400
1995-01-04,15.531250,15.656250,15.312500,15.468750,7.613035,2218800
1995-01-05,15.375000,15.437500,15.218750,15.250000,7.505373,2319600
1995-01-06,15.156250,15.406250,15.156250,15.281250,7.520757,3438000
1995-01-09,15.343750,15.406250,15.187500,15.218750,7.489995,1795200
...,...,...,...,...,...,...
2023-07-24,152.839996,153.949997,152.300003,153.419998,153.419998,5549500
2023-07-25,153.479996,153.860001,152.449997,153.779999,153.779999,5883800
2023-07-26,153.119995,154.839996,152.889999,153.940002,153.940002,7013800
2023-07-27,154.160004,154.600006,151.919998,152.110001,152.110001,7191600
2023-07-28,154.660004,157.479996,154.600006,156.410004,156.410004,9397300